


#mediaGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vmin;
    padding: 5vmin;
    justify-items: space-between;
}
    .story {
        /* background-image: linear-gradient(rgba(236, 230, 230, 0.9), 
                            rgba(230, 225, 225, 0.95)),
                              url('../images/metalTexture.jpeg');
        box-shadow:                 0px 0px 5px 1px rgba(255, 0, 0, 0.5), 
                              inset 4em 1em 10px 10px rgb(2, 2, 19, .05);       */
        width: 30vw;
        height: fit-content;
        padding: 5vmin 2.5vmin;;
        margin: 10vmin 10vmin 5vmin;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background: whitesmoke;
    }

        .storyImage {
            width: 100%;
            max-height: 30vh;
            object-fit: cover;
            object-position: top;
        }

            .storyImage.logo {
                background: black;
                object-fit: contain;
                object-position: center;
                padding: 2vmin;
                min-width: 100%;
            }

        .storyHeadline {
            text-align: center;
            margin-top: 1vmin;
        }

        .dateOutlet {
            background: rgba(14, 13, 13, 0.5);
            box-shadow:   2px 2px 5px 5px rgba(206, 58, 8, .15), 
                    inset 5em 10em 10em  rgb(48, 44, 44, .25),
                    inset 2.5em 5em 10em  rgba(235, 232, 230, 0.25),
                    inset -1em -2em 10em  rgb(46, 28, 28);
            background-image: linear-gradient(rgba(42, 43, 44, .8), rgba(24, 6, 19, 0.9)); 
            /* transform: translatex(-20%); */
            position: absolute;
            padding: 1vmin;
            left: -2.5vw;
            top: 1vw;
            color: rgb(211, 200, 200);
            width: fit-content;;
            height: fit-content;
        }


        @media only screen and (max-width: 900px) {
            #mediaGrid {
                grid-template-columns: 1fr;  
            }       
                .story {
                    width: 65vw;
                }   
                    .storyImage {
                        max-height: 40vh;
                    }
        }