









.boardProfile {
    display: flex;
    position: relative;
    height: fit-content;
    width: max(70vw, 900px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    margin: max(50px, 10vw) 0;
}
  
 
    .boardPosterRack {
        position: relative;
        display: flex;
        flex-direction: column;
        height: max(35vmax, 500px);
    }

        .boardPoster {
            width: auto;
            height: 20%;
            object-fit: cover;
        
            /* border: 3px lime ridge; */
        }

    .boardRackSubstitute {
        height: max(35vmax, 500px);
        width: max(5vmax,   70px);
        background: rgba(14, 13, 13, 0.95);
        background-image: linear-gradient(rgba(236, 230, 230, 0.49),
                                                      rgba(230, 225, 225, 0.5)),
                                                         url('../images/metalTexture2.webp');
    }

        




    .boardContent {
        position: relative;
        width: 100%;
        background: whitesmoke;
        height: max(35vmax, 500px);
    }

        .boardImage {
            position: absolute;
            top: 10%;
            left: 5%;
            height: max(17.5vmax, 250px);
            width: max(17.5vmax, 250px);
            object-fit: cover;
            z-index: 2; 
    
            /* border: 3px aqua ridge; */
        }

        .boardContentTopRight {
            position: absolute;
            height: max(17.5vmax, 250px);
            width: 55%;
            top: 10%;
            left: 40%;
            z-index: 2;
            /* border: 3px orange ridge; */
        }


            .boardNameLevel {
                display: flex;
                justify-content: left;
                margin: 2.5vh 0 0;
                width: 100%;
                align-items: center;
                z-index: 1;
                /* border: 3px blue ridge; */

            }

            .boardAttribute {
                display: flex;
                margin: 1vmin 0;
                align-items: center;
                /* z-index: 99; */

                /* border: 3px aqua ridge; */
            }


            .boardAttributes {
                align-items: center;
                margin: 2vmin 0;
                /* border: 3px orange ridge; */

            }


        .boardProfileBlurb {
            position: absolute;
            top: 65%;
            left: 12.5%;
            text-overflow: clip;
            height: 30%;
            width: 85%;
            z-index: 1;
            line-height: 1em;
            /* border: 3px fuchsia ridge; */
        }




    
    .boardProfileStripes {

        position: absolute;
        width: 10%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 0;
        opacity: .15;
        background: repeating-linear-gradient(
                                                25deg,
                                                #ffffff,
                                                rgb(153, 149, 149) 25px,
                                                darkgray 25px,
                                                darkgray 50px
                                             );
    }


    .boardProfileLogo {
        position: absolute;
        left: 10%;
        top: 0;
        height: 100%;
        width: 90%;
        opacity: .2;
        z-index: 1;
        filter: brightness(90)
                drop-shadow(0 0 15px rgb(153, 149, 149));
    }







 #teamGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin-bottom: 10vh;
 }


 .teamProfile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: whitesmoke;
    border-top: 4px red ridge;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 40vw;
    margin: 5vw;
    padding-top: 2.5vmin;
    /* border: 3px pink ridge; */
    height: max(25vw, 250px);
  }
  
 
    .teamPosterRack {
        display: flex;
        height: auto;
        margin-top: 2vmin;
        /* border: 3px orange ridge; */
    }

        .teamPoster {
            height: 10vw;
            width: 20%;
            /* border: 3px lime ridge; */
        }

    .teamContentTop {
        display: grid;
        grid-template-columns: 4fr 6fr;
        height: 100%;
        /* border: 3px green ridge; */
        margin: 0 1vmin;
    }
    
    .teamContentLeft, .teamContentRight  {
        align-items: center;
        justify-content: center;
        /* display: flex;
        flex-direction: column; */
        /* border: 3px yellow ridge; */
    }
    
        .teamContentRight {
            display: flex;
            flex-direction: column;
            /* align-items: center;
            justify-content: center; */
           /* width: 100% */
           height: 100%;
           /* border: 3px orange ridge; */
        }

    .teamImage {
        height: 10vw;
        width: 10vw;
        object-fit: cover;
        border-radius: 50%;
        margin: 10%
        /* border: 3px aqua ridge; */
    }




    .teamTitleLevel {
        display: flex;
        justify-content: left;
        width: 100%;
        align-items: center;

        /* padding-left: 2em; */
        /* margin: 10vh 0 2.5vh; */
        /* border: 3px blue ridge; */
    }

    .teamName {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-family: BebasNeue;
        font-family: BarlowCondensed;
        font-weight: bold;
        /* border: 3px orange ridge; */
    }

    .teamProfileBlurb {
        font-size: 1.5em;
        padding: .75em 0;
        height: auto;
        width: 90%;
        margin: 2.5vmin auto;
        /* text-overflow: clip; */
        /* border: 3px fuchsia ridge; */
    }

    @media only screen and (max-width: 1000px) {

        .boardProfile {
            display: flex;
            flex-direction: column;
            position: relative;
            height: fit-content;
            width: max(70vw, 400px);
           
        }
          
         
            .boardPosterRack {
                flex-direction: row;
                height: auto;
                width: 100%;
            }


            .boardPoster {
                width: 20%;
                height: auto;
                object-fit: cover;
            
                /* border: 3px lime ridge; */
            }
    
        .boardRackSubstitute {
            height: 5vmax;
            width: 100%;
        }


        .boardContent {
            display: flex;
            flex-direction: column;
            height: fit-content;
        }

            .boardContentTopRight {
                position: relative;
                width: 80%;
                margin-left: 7.5vmin;
                left: 0;
                top: 0;
                /* border: 3px lime ridge; */
            }
    

        
        
                .boardImage {
                    position: relative;
                    top: 0;
                    left: 0;  
                    align-self: flex-end;
                    margin: 2.5vmin;
                    height: max(20vmax, 350px);
                    width: max(20vmax, 350px);
                    /* border: 3px aqua ridge; */
                }

                .boardProfileBlurb {
                    position: relative;
                    top: 0;
                    left: 0;
                    margin: 5vmin  2.5vmin 5vmin 7.5vmin;
                    height: fit-content;
                    width: 80%;
                    line-height: 1.5em;
                   
                    /* border: 3px fuchsia ridge; */
                }


        
              

    }

   



    @media only screen and (max-width: 900px) {
        
        #teamGrid {
            display: flex;
            flex-direction: column;
        }

        .teamProfile {
            width: 450px;
            margin: 50px 0;
          }

          .teamPoster {
            height: 110px;
           
        }

        .teamImage {
            height: 125px;
            width: 125px;
            margin-left: 20px
        }


    .teamProfileBlurb {
        
        margin: 25px auto;
       
    }
       
    }


    @media only screen and (max-width: 500px) {

        .teamProfile {
            width: 400px;
            margin: 50px 0;
          }

          .teamPoster {
            height: 110px;
           
        }

        .teamImage {
            height: 125px;
            width: 125px;
            margin-left: 20px
        }


    .teamProfileBlurb {
        
        margin: 25px auto;
       
    }
       
    }
    /* @media only screen and (max-width: 600px) {
        
        .teamContent {
            flex-direction: column;
        }
            .teamContentLeft {
                width: 100%
            }
            .teamContentRight {
            width: 100%
            }

        .teamNameLevel {
            justify-content: center;
            padding-left: 2em;
            margin: 2.5vh 0 0;
           
        }       
    
        .teamImage {
            max-height: 75vh;
            width: auto;
            margin-top: 5vmin;
        }
    } */







    @media (not (webp)) {
        .boardPosterRack {
            background-image: linear-gradient(rgba(236, 230, 230, 0.49),
                                                          rgba(230, 225, 225, 0.5)),
                                                             url('../images/metalTexture2.jpeg');
        }
      }

      