




.passwordForm {
    margin: 10vmin auto;
    width: 40vw;
    padding: 5vmin;

}

    .passwordFormH2 {
        margin-bottom: 5vmin;
    }

    .resetLink {
        font-size: 1.5em;
    }

        .resetLink:hover {
            color: red;
        }

    
        .playTriangle {
            width: 0; 
            height: 0; 
            border-top: .5em solid transparent;
            border-bottom: .5em solid transparent;
            border-left: .5em solid white;
          }


@media only screen and (max-width: 700px) {

    .passwordForm {
        width: 70vw;   
    }
}